.resumo {
  /* display:flex;
  flex-flow: column nowrap; */
  border-radius: 10px;
  background: purple;
  color: white;
  width: 400px;
  height: 460px;
  padding: 10px;
}

.resumo hr {
  border-color: gray;
}

.resumo .frete {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.resumo .frete button {
  color: purple;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: aqua;
  font-size: 12px;
  font-weight: 600;
}

.resumo .frete input {
  background: rgba(158, 158, 158, 0.4);
  border: none;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  margin-right: 5px;
}

.resumo .frete .borda-vermelha {
  color: rgba(255, 0, 0, 0.6);
}

.resumo .itens-calc, .resumo .frete-calc, .resumo .total-calc {
  display: flex;
  justify-content: space-between;
}

.resumo button {
  margin-top: 40px;
  cursor: pointer;
  color: purple;
  border: none;
  border-radius: 5px;
  background: rgb(0, 255, 255);
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}

.resumo .disabled {
  margin-top: 40px;
  cursor: pointer;
  color: gray;
  border: 2px;
  background: rgba(0, 255, 255, 0.3);
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}